calendarContainer{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    padding: 1em;
    padding-bottom: 4em;
    border-radius: 10px;
    margin-left: 50%;
    border: 1px solid red;
    
}

.rbc-day-bg.rbc-today, .rbc-day-slot.rbc-today {
    background-color:teal;
}

.confirmBtn{
    background-color: teal;
    color: #fff; 
}