input {
    width: 100%;
    padding: 14px 14px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 25px;
}

h5 {
color: teal;
display: inline;
} 

button {
    
    background-color: teal;
    color: white;
    padding: 14px 14px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}